body {
    font-family: "Lato", sans-serif;
  }
.navbar{
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.navbar-nav li{
    margin: 10px;
}
  #mySidebar{
      float: right;
      margin-left:900px;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgrey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    margin-left: 20px;
  }
  .rtsidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: lightgrey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    margin-left: 20px;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

   .closebtn {
    position: absolute;
    top: 0px;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }

  #main #main1 #main2 {
    transition: margin-left .5s;
    padding: 16px;
  }

  .window{
      margin-left: 20px;
  }

  .window_name{
      background: #000;
      height: 50px;
      color: #f1f1f1;
      margin-top: 0px;
  }

  .window_abt{
      background:white;
  }

  .window_service{
      background:white;
  }
  .card {
      display: flex;
      flex-direction: column;
      width: 500px;
  }
  .btn{
      margin: auto;
      margin-left: 150px;
      padding: 5px;
      margin-bottom: 15px;
  }

  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }

    .sidebar a {
      font-size: 18px;
    }
  }
